# Your registered domain name (must point to this EC2's Elastic IP)
DOMAIN=wordpress.deoriginlabs.com

# MySQL
MYSQL_ROOT_PASSWORD=Deoriginlabs@123
MYSQL_DATABASE=wordpress
MYSQL_USER=dbadmin
MYSQL_PASSWORD=Deoriginlabs@123

# WordPress
WP_TABLE_PREFIX=wp_
WP_DEBUG=true          # set false when done testing
